# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# ChromaDB
chroma_store/
chroma_db/
vector_store/

# Models
models/
weights/

# Mac
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Databases
*.sqlite3
*.db

# Massive Data Folders (Do not upload to GitHub)
data/
outputs/
backup.sql

# Chainlit
.chainlit/